{% extends 'base.html.twig' %}
{% block javascript %} <script src="../../js/chrono.js"></script> {% endblock %}
{% block content %}

<div id="chrono" name="chrono"> {{rattrapage.dureeRattrapage | date('H:i:s')}} </div>
<button id="btChrono" name="btChrono"> demarrer


{% endblock %}
