{% extends 'base.html.twig' %}
{% block javascript %} <script src="../../../js/chrono.js"></script> {% endblock %}
{% block content %}

<div id="chrono" name="chrono"> {{rattrapage.dureeRattrapage | date('H:i:s')}} </div>
<button id="btChrono" name="btChrono"> demarrer
<audio src="../../../sounds/alert.wav" id="alert"></audio>
<input id="support" value={{support}} hidden>
<input id="idRattrapage" value={{rattrapage.id}} hidden>

{% endblock %}
